body {
    display: flex;
    flex-direction: column;
    font-family: roboto;
}

.up-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 264px;
    padding-right: 264px;
    background-color: #1F2937;
    color: #e2eff1;
    font-size: 18px;
    font-weight: bolder;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 15px;
    color: #e2eff1;
}

li {
    list-style-type: none;
}

.down-top {
    display: flex;
    flex-direction: row;
    padding-left: 264px;
    padding-right: 264px;
    padding-bottom: 24px;
    background-color: #555273;
    color: #e2eff1;
}

.buttonone {
    top:50%;
    background-color:#e23e57;
    color: #e2eff1;
    font-weight: bolder;
    border:none; 
    border-radius:10px; 
    padding:8px;
    min-height:30px; 
    min-width: 120px;
}

.heromaintext {
    font-size: 48px;
    font-weight: bolder;
}

.herosecondarytext {
    font-size: 18px;
    color: #e2eff1
}

.upperimage {
    margin-top: 20px;
    width: 900px;
    height: 300px;
}

.up-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 254px;
    margin-right: 264px;
}

.info {
    font-weight: bolder;
    font-size: 36px;
    color: #555273;
}

.images {
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.image {
    border: 5px solid #e23e57;
    border-radius: 15px;
    width: 200px;
    height: 200px;
}

figcaption {
    font-size: 18px;
    text-align: center;
    padding: 15px;
}

.down-center {
    display: flex;
    flex-direction: column;
    padding-left: 264px;
    padding-right: 264px;
    background-color: #e2eff1;
}

.main-text {
    font-size: 36px;
    font-style: italic;
    color: #65799b;
}

.quote {
    text-align: right;
    font-size: 24px;
    font-weight: bold;
}

.up-bottom {
    padding-left: 264px;
    padding-right: 264px;
}

.containertwo {
    display: flex;
    flex-direction: row;
    margin: 50px;
    background-color:#e23e57;
    padding: 16px;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
}

.text {
    color: #e2eff1;
}

.buttontwo {
    top:50%;
    background-color:#e23e57;
    color: #e2eff1;
    font-weight: bolder;
    border: 2px solid #e2eff1; 
    border-radius:10px; 
    padding:8px;
    max-height: 50px;
    max-width: 120px;
    min-height:30px; 
    min-width: 120px;
}

.down-bottom {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #65799b;
    color: #e2eff1;
}
